<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>833736612272-vs8d92sitpdru919fc35sr213md28dgt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.833736612272-vs8d92sitpdru919fc35sr213md28dgt</string>
	<key>API_KEY</key>
	<string>AIzaSyD_BerSd1jCp13l_OQzy2a2lQjrwa0Cj48</string>
	<key>GCM_SENDER_ID</key>
	<string>833736612272</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ggwpnoobs.ExamReminderApp</string>
	<key>PROJECT_ID</key>
	<string>examreminderapp-54f59</string>
	<key>STORAGE_BUCKET</key>
	<string>examreminderapp-54f59.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:833736612272:ios:af322533ffa61132a8de75</string>
</dict>
</plist>